.containers{
    margin-left: 300px;
    width: 70%;
    height: 100%;
    
}
.button,button{
    border-radius: 5px;
    border-color: red;
    

}
.button,button:hover{
    background-color: brown;
    color:white
}
.containerr,h4{
    margin-left: 150px;
    margin-top: 50px;
    color: rgb(224, 75, 11);
    position: absolute;
}
/* .wrapper{
    display: flex;
  } */
  /* .wrapper .static-txt{
    color: #fff;
    font-size: 40px;
    font-weight: 100;
  } */
  /* .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  } */
  /* .dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation:  1s steps(1) 1;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343F4F;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(2) 3;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  } */